/* ==== Hide ==== */

div#header {
    display: none;
}

/* ==== Get rid of shadows ==== */

.iterationHeader {
    background: #444;
}

.panelHeaderLeft, .panelHeaderRight {
    display: none;
}

/* ==== Control panel ==== */

#controlPanel {
    height: 38px;
    margin-bottom: 11px;
}

#controlPanel #project_name_row div.projectName {
    display: none;
}

/* === Velocity ==== */

#velocity {
    position: absolute;
    right: 320px;
    top: 6px;
}

/* hide disclosure arrow */

#controlPanel div#velocity .velocityLabel {
    background: 0 none;
}

#controlPanel #controls_search_velocity_row {
    margin-top: 1px;
}

#controlPanel #controls_search_velocity_row > div.right {
    margin-top: -3px;
}

/* ==== Panel headers ==== */

.panelHeader {
    background-color: #FFF;
    color: #AAA;
    padding-left: 5px;
    margin-bottom: 11px;
}

.panelTitle {
    color: #AAA;
    text-transform: lowercase;
    font-size: 22px;
}

/* only show column action buttons on hover */
.panelLink {
    opacity: 0;
    -webkit-transition: 0.2s;
}

.panelHeader:hover .panelLink {
    opacity: 0.4;
}

/* ==== No background striping! ==== */

.endOfList {
    background: #AEB6B9;
}

/* ==== Hide the comment badge ==== */

.storyPreviewText {
    padding-left: 53px;
}

/* ==== Items ==== */

.storyPreviewHeader, .epicPreviewHeader {
    padding: 6px 2px;
}

